* { text-transform: uppercase;; }

.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 10px;
  left: 10px;
  border-style: solid;
  border-color: green;
  border-width: 10px;
  text-align: center;
}

.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  top: 10px;
  left: 260px;
  border-style: solid;
  border-color: red;
  border-width: 10px;
  text-align: center;
}

.third-box-container {
  width: 200px;
  height: 100px;
  background-color: green;
  position: absolute;
  top: 10px;
  left: 510px;
  border-style: solid;
  border-color: yellow;
  border-width: 10px;
  text-align: center;
}

p {
  padding: 0px;
  margin-top: 30px;
  color: blue;
}
